/*.header
{
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
}
#navigation-principale li
{
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
}
#navigation-principale li a
{
  color: #fff;
}
*/
/*.jumbotron
{
  background-image: url('../image/writing-content-notes-ss-1920.jpg');
  height: 25em;
}
*/